* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
}

.menu {
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 0.1rem solid #eeeeee;
  z-index: 1;
}

.menu-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper {
  max-width: 130rem;
  margin-inline: auto;
  padding: 2rem;
}

.logo {
  text-transform: uppercase;
  font-weight: bold;
}

.logo a {
  font-family: 'Open Sans', sans-serif;
  font-size: 3rem;
  color: black;
  text-decoration: none;
}

.menu-links {
  display: flex;
  gap: 2rem;
  list-style-type: none;
}

.menu-links li a {
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
  align-items: center;
  justify-content: center;
  background-color: #94a9f0;
  display: flex;
  height: 4rem;
  width: 10rem;
  border-radius: 1.5rem;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
}

.menu-links a:hover {
  background-color: rgb(69, 98, 192);
}

.main-bg {
  background-image: url(assets/img/main-bg.svg);
  background-position: center center;
  background-size: cover;
  color: white;
}

.white-bg {
  background-color: white;
  color: #0a1128;
}

.section-height {
  min-height: 100vh;
}

.grid-intro {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  height: 100vh;
}

.intro-text h1 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 7rem;
  padding-top: 7rem;
}

.intro-text p {
  font-size: 2.5rem;
  line-height: 3.5rem;
  font-family: 'Open Sans', sans-serif;
}

.intro-text,
.intro-img {
  display: flex;
  flex-flow: column wrap;
  color: white;
  justify-content: center;
}

.intro-img img {
  max-width: 100%;
  height: auto;
}

.novidades {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 70rem;
  margin-inline: auto;
  margin-top: 15rem;
}

.novidades h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 6rem;
  text-align: center;
}

.novidades p {
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
  margin-top: 5rem;
  font-family: 'Open Sans', sans-serif;
}

#myGrid,
#myGridTwo {
  color: #eeeeee;
}

.grid-text {
  justify-content: center;
  align-items: center;
  margin-top: 20rem;
}

.grid-text h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 6rem;
  text-transform: uppercase;
}

.grid-text p {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5rem;
}

.grid-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 2.2rem;
  margin-top: 11rem;
  gap: 8rem;
  counter-reset: contador;
}

.grid-content h3 {
  font-size: 3rem;
  font-family: 'Montserrat', sans-serif;
  padding-left: 4rem;
  padding-bottom: 1.5rem;
  position: relative;
}

.grid-content h3::before {
  counter-increment: contador;
  content: counter(contador);
  font-size: 7rem;
  position: absolute;
  top: -3rem;
  left: -1rem;
  transform: rotate(10deg);
}

#gallery {
  margin-bottom: 3rem;
}

.gallery-text {
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}

.gallery-text h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 6rem;
  text-transform: uppercase;
}

.gallery-text p {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5rem;
}

.gallery-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.img {
  width: 100%;
  max-width: 36rem;
  max-height: 36rem;
  overflow: hidden;
}

.gallery-images img {
  transition: all 300ms ease-in-out;
}

.gallery-images img:hover {
  transform: translate(-3%, 3%) scale(1.1) rotate(5deg);
}

.table-responsive {
  margin-top: 3rem;
  overflow: hidden;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table caption {
  text-align: left;
  font-size: 1.6rem;
  font-style: italic;
}

table td,
table th {
  border: 0.1rem solid grey;
}

thead th {
  font-size: 2rem;
  background-color: rgb(224, 224, 224);
}

td {
  font-size: 1.6rem;
  padding: 0.5rem 0 0.5rem 0.5rem;
}

tfoot td {
  background-color: rgb(224, 224, 224);
}

.teste {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 3rem;
  min-height: 100vh;
}

.contactUs-text h1 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 4rem;
}

.contactUs-text p {
  font-size: 1.6rem;
  line-height: 3rem;
  font-family: 'Open Sans', sans-serif;
}

.contactUs-text,
.contactUs-img {
  display: flex;
  flex-flow: column wrap;
  color: white;
  justify-content: center;
  padding-top: 7rem;
}

.contactUs-img img {
  max-width: 100%;
  height: 30rem;
}

.form {
  grid-column: span 2;
}

.form .form-field {
  border: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3rem;
}

.form fieldset legend {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-style: italic;
}

.form label {
  display: block;
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.form-group {
  flex: 1 1 auto;
}

.form-group input,
.form-group textarea {
  border: none;
  padding: 1.5rem 2rem;
  width: 100%;
  font-size: 1.8rem;
}

.form-group input:focus,
.form-group textarea:focus {
  box-shadow: 0 0 1rem 0.5rem rgb(83, 92, 177);
}

.form-field button {
  background: none;
  padding: 2rem 3rem;
  font-size: 3rem;
  border: 0.5rem solid white;
  color: white;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.form-field button:hover {
  background: white;
  border: 0.5rem solid white;
  color: #0a1128;
}

.full-width {
  width: 100%;
}

.footer a {
  text-decoration: none;
}

.footer p {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  height: 8rem;
}

.close-menu {
  display: none;
}

.back-to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  color: #0a1128;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  text-decoration: none;
  transform: rotate(-90deg);
  border: 0.1rem solid #0a1128;
  font-size: 2.5rem;
}

@media (max-width: 870px) {
  .grid-intro,
  .grid-content {
    grid-template-columns: 1fr;
    display: grid;
    gap: 3rem;
    min-height: 100vh;
  }

  .intro-text h1 {
    padding-top: 0;
    font-size: 6rem;
  }

  .intro-img img {
    height: 35rem;
  }

  .gallery-images {
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  .img {
    max-width: 100%;
    width: 100%;
    max-height: 100%;
  }

  .img img {
    width: 100%;
  }

  .menu {
    bottom: 0;
    text-align: center;
  }

  .menu {
    display: none;
  }

  .menu-bar {
    flex-direction: column;
    justify-content: center;
    height: 100vh;
  }

  .menu-bar p {
    margin-bottom: 1rem;
  }

  .menu-bar ul {
    flex-direction: column;
  }

  .close-menu-label::after {
    content: '☰';
    position: fixed;
    right: 2rem;
    top: 2rem;
    z-index: 2;
    height: 4rem;
    width: 4rem;
    font-size: 3rem;
    line-height: 3rem;
    cursor: pointer;
    background-color: #0a1128;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .close-menu:checked~.menu {
    display: block;
  }

  .close-menu:checked~.close-menu-label::after {
    content:'✖';
  }
}

@media (max-width: 644px) {
  .intro-img img {
    height: 28rem;
  }

  .intro-text h1 {
    padding-top: 0;
    font-size: 5.5rem;
  }

  .intro-text p {
    font-size: 2rem;
  }
}
